ORCA_PORT=8080
ORCA_MAX_FILE_SIZE_MB=500
# ORCA_FFMPEG_PATH=ffmpeg
# ORCA_FFPROBE_PATH=ffprobe
ORCA_WALRUS_PUBLISHER_URL=https://publisher.walrus-testnet.walrus.space
ORCA_WALRUS_AGGREGATOR_URL=https://aggregator.walrus-testnet.walrus.space

# Sui network config
# ORCA_SUI_RPC_URL=https://fullnode.testnet.sui.io:443
ORCA_PAYWALL_PACKAGE_ID=0xe1a529343f1c8f78af6d92c302524eab3731b13897a0c9ba98d7548ffeb90a90